.tripetto-collector-standard-bootstrap {
  @import "~bootstrap/scss/bootstrap";

  display: flex;
  font-family: $font-family-base;
  font-size: 0.95rem;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);

  * {
    outline: none;
    touch-action: auto;
  }

  a {
    text-decoration: underline;
    color: inherit !important;
  }

  &.preview {
    display: block;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  > div {
    padding: 32px !important;

    &.inline-usage {
      max-width: 100% !important;
      width: 100%;
      padding: 0 !important;
    }

    &.frame-usage {
      max-width: 100% !important;
      width: 100%;
      padding: 0 5px 5px !important;
    }

    > div {
      position: relative;

      > div > label {
        display: block;
      }

      > div.edit {
        position: absolute;
        top: 0;
        right: -32px;
        width: 42px;
        height: 42px;
        background-color: #fff;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        cursor: pointer;

        > svg {
          position: absolute;
          left: 11px;
          top: 10px;
          width: 20px;
          height: 20px;
          opacity: 0.4;
          transition: opacity 0.3s;
        }

        &:hover {
          > svg {
            opacity: 1;
          }
        }
      }
    }
  }

  // Mixins
  @mixin path($base) {
    path {
      fill: $base;
    }
  }

  @mixin input($base, $focus, $shadow) {
    border-color: $base;

    &:focus {
      border-color: $focus;
      box-shadow: 0 0 0 0.2rem rgba($shadow, 0.5);
    }
  }

  @mixin radio($base, $selected) {
    ~ .custom-control-label::before {
      border-color: $base;
    }

    &:not(:disabled):active ~ .custom-control-label::before {
      background-color: rgba($base, 0.5);
      border-color: rgba($base, 0.5);
    }

    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: rgba($base, 0.5);
    }

    &:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0.2rem rgba($base, 0.25);
    }

    &:checked ~ .custom-control-label::before {
      border-color: $selected;
      background-color: $selected;
    }
  }

  @mixin checkbox($base, $selected) {
    ~ .custom-control-label::before {
      border-color: $base;
    }

    &:not(:disabled):active ~ .custom-control-label::before {
      background-color: rgba($base, 0.5);
      border-color: rgba($base, 0.5);
    }

    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: rgba($base, 0.5);
    }

    &:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0.2rem rgba($base, 0.25);
    }

    &:checked ~ .custom-control-label::before {
      border-color: $selected;
      background-color: $selected;
    }
  }

  // Buttons
  button {
    svg {
      width: 16px;
      height: 16px;
      position: relative;
      top: -2px;

      path {
        transition: fill 0.15s ease-in-out;
      }
    }

    @media (min-width: 576px) {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:not(:disabled):not(.disabled):hover {
      &.btn-outline-primary,
      &.btn-outline-secondary,
      &.btn-outline-success,
      &.btn-outline-danger,
      &.btn-outline-info,
      &.btn-outline-dark {
        @include path(#fff);
      }

      &.btn-outline-warning,
      &.btn-outline-light {
        @include path(#212529);
      }
    }

    &.btn-primary,
    &.btn-secondary,
    &.btn-success,
    &.btn-danger,
    &.btn-info,
    &.btn-dark {
      @include path(#fff);
    }

    &.btn-warning,
    &.btn-light {
      @include path(#212529);
    }

    &.btn-outline-primary {
      @include path(#007bff);
    }

    &.btn-outline-secondary {
      @include path(#6c757d);
    }

    &.btn-outline-success {
      @include path(#28a745);
    }

    &.btn-outline-danger {
      @include path(#dc3545);
    }

    &.btn-outline-warning {
      @include path(#ffc107);
    }

    &.btn-outline-info {
      @include path(#17a2b8);
    }

    &.btn-outline-light {
      @include path(#f8f9fa);
    }

    &.btn-outline-dark {
      @include path(#343a40);
    }
  }

  // Form - Inputs
  input,
  textarea,
  select {
    &.form-control-primary {
      @include input(#007bff, #0062cc, rgb(38, 143, 255));
    }

    &.form-control-secondary {
      @include input(#6c757d, #5a6268, rgb(130, 138, 145));
    }

    &.form-control-success {
      @include input(#28a745, #1c7430, rgb(72, 180, 97));
    }

    &.form-control-danger {
      @include input(#dc3545, #bd2130, rgb(225, 83, 97));
    }

    &.form-control-warning {
      @include input(#ffc107, #d39e00, rgb(222, 170, 12));
    }

    &.form-control-info {
      @include input(#17a2b8, #117a8b, rgb(58, 176, 195));
    }

    &.form-control-light {
      @include input(#f8f9fa, #dae0e5, rgb(216, 217, 219));
    }

    &.form-control-dark {
      @include input(#343a40, #1d2124, rgb(82, 88, 93));
    }
  }

  // Form - Checkbox
  .custom-control-input {
    &.checkbox-control-primary {
      @include checkbox(rgb(0, 123, 255), rgb(0, 123, 255));
    }

    &.checkbox-control-secondary {
      @include checkbox(rgb(108, 117, 125), rgb(108, 117, 125));
    }

    &.checkbox-control-success {
      @include checkbox(rgb(40, 167, 69), rgb(40, 167, 69));
    }

    &.checkbox-control-danger {
      @include checkbox(rgb(220, 53, 69), rgb(220, 53, 69));
    }

    &.checkbox-control-warning {
      @include checkbox(rgb(255, 193, 7), rgb(255, 193, 7));
    }

    &.checkbox-control-info {
      @include checkbox(rgb(23, 162, 184), rgb(23, 162, 184));
    }

    &.checkbox-control-light {
      @include checkbox(rgb(248, 249, 250), rgb(171, 171, 171));
    }

    &.checkbox-control-dark {
      @include checkbox(rgb(52, 58, 64), rgb(52, 58, 64));
    }
  }

  // Form - Radio
  .custom-control-input {
    &.radio-control-primary {
      @include radio(rgb(0, 123, 255), rgb(0, 123, 255));
    }

    &.radio-control-secondary {
      @include radio(rgb(108, 117, 125), rgb(108, 117, 125));
    }

    &.radio-control-success {
      @include radio(rgb(40, 167, 69), rgb(40, 167, 69));
    }

    &.radio-control-danger {
      @include radio(rgb(220, 53, 69), rgb(220, 53, 69));
    }

    &.radio-control-warning {
      @include radio(rgb(255, 193, 7), rgb(255, 193, 7));
    }

    &.radio-control-info {
      @include radio(rgb(23, 162, 184), rgb(23, 162, 184));
    }

    &.radio-control-light {
      @include radio(rgb(248, 249, 250), rgb(171, 171, 171));
    }

    &.radio-control-dark {
      @include radio(rgb(52, 58, 64), rgb(52, 58, 64));
    }
  }

  // Common responsiveness
  @media (min-width: 576px) {
    font-size: $font-size-base;

    .btn {
      &:not(.btn-normal) {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
      }
    }

    .form-control,
    .custom-select {
      height: calc(1.5em + 1rem + 2px);
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    }
  }

  .form-group {
    > label:first-child {
      font-weight: bold;
    }

    label {
      span.required {
        color: #dc3545;
        margin-left: 4px;

        &::after {
          content: "*";
        }
      }
    }
  }

  .separate {
    margin-top: 32px;
  }

  .navigation {
    margin-top: 32px;
  }

  .message {
    min-height: 100%;
  }

  section.pause-dialog {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s linear;
    z-index: 1040;

    .pause-dialog-backdrop {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1041;
      display: none;
    }

    .pause-dialog-window {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1072;
      cursor: default;
      display: none;

      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 20px;
        font-weight: 400;
      }

      input {
        margin-top: 8px;
        margin-bottom: 16px;
      }

      button.disabled {
        pointer-events: none;
      }

      span.link {
        font-size: 12px;
        color: #007bff;
        text-decoration: none;
        display: inline-block;
        margin-top: 16px;
        cursor: pointer;

        &:hover {
          color: #0056b3;
          text-decoration: underline;
        }
      }
    }

    &-visible {
      pointer-events: auto;
      opacity: 1;

      .pause-dialog-backdrop {
        display: block;
      }

      .pause-dialog-window {
        display: block;
      }
    }
  }
}
